.text-brand {
  color: #EEA11D;
}

.btn-brand {
  background-color: #EEA11D;
  /* background-color: #84bff4; */
  color: white;
  font-weight: bold;
  opacity: .8;
}

.btn-brand:hover{
  color: white;
  opacity: 1;
}